*{
    bottom: 0;
    padding: 0;
}
.part1
  {
    margin-top: 50px;
    background-color: rgb(102, 169, 228);
    height: 600px;
     width: 25%;
     margin-left: 500px;
   text-align: center;
   border:5px solid black;
   border-radius: 20px;

}
.part4
  {
    margin-top: 50px;
    background-color: rgb(102, 169, 228);
    height: 400px;
     width: 25%;
     margin-left: 500px;
   text-align: center;
   border:5px solid black;
   border-radius: 20px;

}
.part1 h1{
    color: rgb(0, 38, 255);
    font-size: 30px;
    font-family: cursive;
}
.part2
{
    margin-top: 50px;
    background-color:whitesmoke;
    height: 400px;
     width: 50%;
    text-align: center;
    border:5px solid cadetblue;
    border-radius: 10px;

}
.part2 h1{
    color: orange;
    font-size: 30px;
    font-family: cursive;
}
.part3
{
    margin-top: 50px;
    background-color:cadetblue;
    height: 300px;
    margin-left: 550px;
    width:30%;
    text-align: center;
    border:5px solid black;
    border-radius: 20px;

}
.part3 h1{
    color: brown;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
} 

form{
    width: 300px;
    margin-left: 20px;
    align-items: center;

}
form label{
    display: flex;
  
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
}
input[type="submit"]
{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:#ff7200;
    font-size: 18px;
    cursor: pointer;

}
input[type="submit"]
{
    color: white;
    
    

}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.part3 a{
    color: red;
}
.part4 input{
    width: 100%;
 
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
   
    font-size: 18px;
    outline: none;
}
